

.listen-telephone .listen-word2 .listen-tele p{
    margin: 5px;
    float: left;
}

.listen-text {
    width: 150px;
    border-radius: 10px ;
    margin: 0px;
}

.listen-tele {


}

.true-icon1 {
    display: none;
}

.false-icon1 {
    display: none;
}

.table-check {
    text-align: center;

}

.listen-img {
    height: 284px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin: 23px;
}

.icon-audio {
    /* margin-left: 60px; */
}
/* .icon-pause{
    display: none;
} */

.activity-container .blue-bar {
    height: 60px;
}


