div {
    display: block;
}

.page-section {
    margin-left: 21px;
    display: block;
}

.thumb-outer {
    width: 450px;
    min-height: 100px;
    float: left;
}

#tab1-content .thumb {
    width: 90px;
    border: 3px solid #ebd2d2;
    cursor: pointer;
    margin: 5px;
    padding: 3px;
}



#flashcard-area {
    width: 529px;
    float: left;
}

.flashcard-outer{
    margin-top: 5px;
    margin-left: 40px;
    text-align: center;
    padding: 6px;
}

.img-main{
    max-width: 400px;
    min-width: 350px;
    cursor: pointer;
    padding: 3px;
    border: 2px solid #646464;
    margin: 3px;

}

 .caption {
    line-height: 35px;
    max-width: 400px;
    min-width: 350px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: aliceblue;
    height: 40px;
    background-color: black;
    margin-top: 0px;
    text-align: center;
    margin-left: 46px;
    opacity: 0.7;
}

.global-float-right {
    float: right;
    margin-top: 10px;
    margin-right: 80px;
}

.icon-vocabulary{
   font-size: 30px;
}

.icon-vocabulary li{
    padding-left: 20px ;
}
.lists {

}

.lists .list {
    margin: 5px;
    padding: 3px;
    display: unset;
}

.lists .caption-background .list-word {
    background-color: #F3F3F3;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    cursor: move;
    display: block;
    line-height: 20px;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 2px;
    position: relative;

}
.list .caption-background{
    width: 180px;
    height: 40px;
    margin-top: -40px;
    opacity: 0.62;
    position: absolute;
    background-color: #151515;
    z-index: 10;
    text-align: center;
    margin-left: 12px;
    display: none;

}
.vocabularyImg {
    width: 180px;
    border: 2px solid #646464;
    padding: 2px;
    margin: 7px;
    border-radius: 5px;
}


